<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Paguina_1">Paguina_1</a></li>
      <li><a href="/Paguina_2">Paguina_2</a></li>
      <li><a href="/Paguina_3">Paguina_3</a></li>

    </ul>
  </nav>
  {{{body}}}
</body>

</html>