p {
    color: blue;
    font-style: italic;
}

ol {
    color: darkgreen;
    font-family: Arial;

}

ul {
    color: brown;
}

#cuadro {
    height: 200px;
    /*ALTURA*/
    width: 200px;
    /*ANCHO*/
    color: gold;
    /*COLOR LETRA*/
    background-color: chocolate;
    /*COLOR FONDO*/
    box-sizing: border-box;
    /*CENTRA EN LA CAJA*/
    padding: 10px;
    /*DISTANCIA DE BORDE INTERIOR*/
    margin-left: 50px;
    /*MARGEN IZQUIERDO*/
    margin-top: 10px;
    /*MARGEN DE ARRIBA*/
    margin-bottom: 30PX;
    /*MARGEN DE ABAJO*/
    border-radius: 20px 0 20px 30px;
    /*DEFINE QUE BORDE REDONDEAR*/
    box-shadow: 10px 10px 5px black;
    /*SOMBRA DE CUADRO*/
    border: 2px solid white;
    /*BORDE DE CUADRO*/
}

/*img {vertical-align:middle;}*/

.FotoPerfil {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}


.CuadroVerde {
    height: 200px;
    /*ALTURA*/
    width: 200px;
    /*ANCHO*/
    color: white;
    /*COLOR LETRA*/
    background-color: green;
    /*COLOR FONDO*/
    box-sizing: border-box;
    /*CENTRA EN LA CAJA*/
    padding: 10px;
    /*DISTANCIA DE BORDE INTERIOR*/
    border-radius: 20px;
    /*REDONDEA BORDES DE CAJA*/
    margin: 0 auto;

}

form {
    height: 400px;
    width: 400px;
    background-color: aqua;
    padding: 10px;
    box-shadow: 10px 10px 5px black;
    background: #1b00ff;
    background: linear-gradient(43deg, #1b00ff 0%, #00ff00 80%);
    background: -webkit-linear-gradient(43deg, #1b00ff 0%, #00ff00 80%);
    background: -moz-linear-gradient(43deg, #1b00ff 0%, #00ff00 80%);
}